@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>

        body {
            background-color: rgb(243,243,255);
        }
    </style>
</head>
<image src="~/Image/HomeImage.png" align="right" alt="Snow" width="600" height="500" />
<body>
    &nbsp;<br />
    <image src="~/Image/HomeLogo.png" />
    <br /><br />
    &nbsp;<br />&nbsp;<br />
    <image src="~/Image/Home2.png"  />
    <h3> CORONA VIRUS - STAY HOME STAY SAFE</h3><br />

    <div id="footer" >
        COVID-19 is the infectious disease caused by the most recently discovered coronavirus.
        This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019.
    </div>
</body>
</html>
